span.red {
 color: #ff0000; 
}
span.green{
 color: #00ff00;
}
span.blue{
 color: #0000ff;
}
body {
 padding: 10px;
 color: #ffffff;
 background-color: #000000;
}
div.events {
 background color: ##FFA500;
 align: center;
 padding: 2px;
}
